#sec-hero{
	padding: 200px 0px;
	background-image:url("../img/slide-galaxy.jpg");
	background-position: center
}

#sec-hero h2{
	color: #fff;
	font-size: 90px;
	margin-top: -200px;
	text-align: center;
}

#television{
	
}

#television h2{
	text-align: center;
	padding-top: 60px;
}

#television p{
	text-align: center;
}

 .btn-primary{
	
		padding: 10px 30px;
	font-size: 13px;
	font-weight: 600;
	background-color: #fff;
	border: 2px solid #000;
	color:#000;
	border-radius: 4px;
	text-transform: uppercase;
}

#refri{
	background-color:rgba(228,228,228,1.00);
}

.btn-blanco{
	
		padding: 10px 30px;
	font-size: 13px;
	font-weight: 600;
	background-color:rgba(228,228,228,1.00);
	border: 2px solid #000;
	color:#000;
	border-radius: 4px;
	text-transform: uppercase;
}